*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

html, body{
    scroll-behavior: smooth;
}

body{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ========== Common ==========*/
:root{
    --font-heading: Sen, "san-serif";
    --color-primary: #FFB900;
}

.line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2{
    --line-clamp: 2;
}

.word-break-all{
    word-break: break-all;
}

.heading{
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}

.heading.lv1{
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2{
    font-size: 3.8rem;
    line-height: 1.26;
}

.desc{
    color: #5F5B53;
}

.content{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.btn{
    display: inline-block;
    min-width: 118px;
    padding: 11px 16px;
    text-align: center;
    background: #171100;
    border-radius: 999px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #FFFFFF;
}

.btn:hover{
    cursor: pointer;
    opacity: 0.8;
}

/* ========== Header ========== */
.header{
    background: #FFFCF4;
}

.header.fixed{
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 36px 0 8px;
}

.header .nav-bar, .header .nav-list{
    display: flex;
    align-items: center;
}

.header .nav-item a{
    position: relative;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #5F5B53;
    padding:8px 21px;
}

.header .nav-item a:hover,
.header .nav-item.active a{
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav-item.active a::after{
    content: "";
    display: inline-block;
    position: absolute;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
    bottom: 6px;
    left: 21px;
}

.header .nav-bar .sign-up-btn{
    margin-left: 49px;
    min-width: 144px;
}

/* ========== Hero ========== */
/* Hero Left */
.hero-wrap{
    padding: 56px 0 65px;
    background: #FFFCF4;
    display: flex;
}

.hero-wrap .body{
    display: flex;
}

.hero-wrap .hero-img{
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    display: block; /* Vì img là inline nên vertical align căn ở phần baseline, cách khắc phục dùng display: block hoặc vertical-align: bottom */
}

.hero-wrap .img-block{
    position: relative;
    width: 48.2%;
}

.hero-wrap .hero-summary{
    position: absolute;
    padding: 24px 58px 24px 24px;
    background: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    right: 0;
    bottom: 48px;
}

.hero-wrap .hero-summary .item{
    display: flex;
    align-items: center;
}

.hero-wrap .hero-summary .item + .item{
    margin-top: 14px;
}

.hero-wrap .hero-summary .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 16px;
}

.hero-wrap .hero-summary .design-icon{
    background: #FFF9E8;
}

.hero-wrap .hero-summary .development-icon{
    background: #FCEFFF;
}

.hero-wrap .hero-summary .marketing-icon{
    background: #EBEAFF;
}

.hero-wrap .hero-summary .label{
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
}

.hero-wrap .hero-summary .title{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

/* Hero Right */
.hero-wrap .content-block{
    padding: 64px 0 0 130px;
    width: 52.8%;
}

.hero-wrap .content-block .desc{
    margin-top: 22px;
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero-wrap .content-block .cta-group{
    margin: 38px 0 48px;
    display: flex;
    align-items: center;
}

.hero-wrap .content-block .cta-group .hero-cta{
    min-width: 180px;
    padding: 17px 16px;
    background: var(--color-primary);
    border-radius: 32px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    margin-right: 28px;
}

.hero-wrap .content-block .cta-group .watch-video{
    display: flex;
    align-items: center;
    border: none;
    background: #FFFCF4;
    font-family: "Poppins";
    cursor: pointer;
}

.hero-wrap .content-block .cta-group .watch-video .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
    margin-right: 14px;
}

.hero-wrap .content-block .cta-group .watch-video span{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero-wrap .content-block .stats{
    margin-top: 10px;
}

.hero-wrap .content-block .stats strong{
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
    margin-right: 14px;
}

.hero-wrap .content-block .stats strong+strong{
    margin-left: 28px;
}

/* ========== Popular ========== */
.popular{
    padding: 65px 0;
    margin-top: 135px;
}

.popular-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-top .heading{
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.popular-top .desc{
    margin-top: 16px;
    font-size: 1.8rem;
    line-height: 1.67;
    width: 458px;
}

.popular-top .controls{
    display: flex;
    gap: 18px;
}

.popular-top .control-btn{
    width: 40px;
    height: 40px;
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
}

.popular-top .control-btn:hover{
    background: var(--color-primary);
    color: #FFFFFF;
    cursor: pointer;
}

/* Course List */
.course-list{
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.course-list .course-item{
    background: #FFFFFF;
    border: 1px solid #E2DFDA;
    border-radius: 12px;
    flex: 1;
}

.course-list .course-item:hover{
    border-color: transparent; /* Nếu dùng border: none khi hover bị đẩy px*/
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.course-item .thumb{
    object-fit: cover;
    height: 278px;
    width: calc(100% + 2px);
    border-radius: 12px 12px 0px 0px;
    margin: -1px; /* Để sát vào lề trái*/
}

.course-item .info{
    padding: 16px 22px 22px;
}

.course-item .head,
.course-item .rating,
.course-item .foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-item .head .title a{
    padding-right: 6px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.course-item .rating .star{
    width: 18px;
    height: 18px;
}

.course-item .head .value{
    margin-left: 6px;
    font-size: 1.6rem;
    color: #FEA31B;
}

.course-item .desc{
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.86;
}

.course-item .foot{
    margin-top: 12px;
}

.course-item .foot .price{
    vertical-align: text-top;
    font-weight: 600;
    font-size: 1.8rem;
    color: #171100;
}

.course-item .foot .book-btn{
    min-width: 118px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.86;
    border: none;
}

.course-item .foot .btn:hover{
    background: #FFB900;
}

/* ========== Feedback ========== */
.feedback{
    padding: 96px 0;
    margin-top: 135px;
    background: #2E2100;
}

.feedback-list{
    display: flex;
    overflow: hidden;
}

.feedback .feedback-item{
    display: flex;
    justify-content: space-between;
    flex-shrink: 0; /* Bỏ ép width 3 phần tử = width của cha*/
    width: 100%;
}

.feedback .user-info{
    width: 13.6%;
}

.feedback-item .user-info .avatar{
    display: block;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-item .user-info .title{
    margin-top: 18px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #F7F7F7;
}

.feedback-item .user-info .desc{
    margin-top: 4px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #BFBCB3;
}

.feedback-item .dots{
    margin-top: 28px;
    display: flex;
    gap: 6px;
}

.feedback-item .dot{
    cursor: pointer;
    border: none;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
}

.feedback-item .dot.active{
    background: #FFB900;
    cursor: default;
}

.feedback-content{
    width: 65.8%;
}

.feedback-content blockquote{
    margin-left: 30px;
    font-style: italic;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #FFFFFF;
}

/* ========== Features ========== */
.features{
    margin-top: 135px;
    padding: 65px 0;
}

.features .body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features .body .images{
    display: flex;
    gap: 30px;
}

.features .body .img-left{
    margin-top: 34px;
}

.features .body .img{
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}   

.features .feature-content{
    width: 41%;
}

.features .feature-content .desc{
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
}

.features .feature-content .cta-btn{
    margin-top: 32px;
    min-width: 137px;
    background: var(--color-primary);
}

.features-2nd{
    margin-top: 70px;
}

.features-2nd .feature-content{
    width: 49%;
}

.features-2nd .feature-content .heading{
    --line-clamp: 3;
}

.features-2nd .body .img{
    width: 470px;
    height: 440px;
}

/* ========== Blog ========== */
.blog{
    padding: 96px 0;
    margin-top: 135px;
    background: #FFFCF4;
}

.blog .blog-top{
    text-align: center;
}

.blog .blog-top .heading{
    color: #130606;
}

.blog .blog-top .desc{
    width: 38%;
    margin: 16px auto auto;
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696262;
}

.blog-list{
    margin-top: 55px;
    display: flex;
    gap: 30px;
    overflow: hidden;
}

.blog-item{
    width: calc(33.33% - 20px);
    background: #FFFFFF;
    border-radius: 16px;
    flex-shrink: 0;
}

.blog-item:hover{
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.blog-item .thumb{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog-item .info{
    padding: 20px 20px 28px;
}

.blog-item .info .date::before{
    margin-right: 4px;
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--color-primary);
}

.blog-item .info .date{
    display: inline-flex;
    position: relative;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
    padding-bottom: 12px;
}

.blog-item .info .date::after{
    position: absolute;
    display: inline-block;
    content: "";
    right: -27px;
    height: 1px;
    background: #E2DFDA;
    border-radius: 999px;
    bottom: 0;
    left: 0;
}   

.blog-item .info .title a{
    display: inline-block;
    margin-top: 12px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}

.blog-item .info .blog-btn-cta{
    margin-top: 12px;
    font-size: 1.4rem;
    line-height: 1.86;
}

.blog-item .info .blog-btn-cta:hover{
    background: var(--color-primary);
}

.blog .dots{
    margin-top: 38px;
    justify-content: center;
    display: flex;
    gap: 6px;
}

.blog .dot{
    width: 6px;
    height: 6px;
    background: #5F5B53;
    border-radius: 50%;
    cursor: pointer;
}

.blog .dot.active{
    background: #FFB900;
    cursor: default;
}

/* ========== Footer ========== */
.footer{
    padding: 96px 0 28px;
    background: #2E2100;
}

.footer .row{
    display: flex;  
    border-bottom: 1px solid #59554B;
    padding-bottom: 38px;
    gap: 130px;
}

.footer .column:first-child{
    width: 22.8%;
    margin-right: 15px;
}

.footer .column:nth-child(2){
    width: 11.1%;
}

.footer .column:nth-child(3){
    width: 11.7%;
}

.footer .column:last-child{
    width: 19.7%;
}

.footer .column .desc{
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #BFBCB2;
}

.footer .column .social-group{
    display: flex;
    align-items: center;
    margin-top: 18px;
    gap: 18px;
    height: 15px;
}

.footer .column .title{
    width: 130px;
    position: relative;
    color: #FFFFFF;
    padding: 0 48px 14px 0;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    border-bottom: 1px solid #59554B;
    margin-bottom: 28px;
}

.footer .column .item a{
    font-size: 1.4rem;
    line-height: 1.86;
    color: #BFBCB2;
}

.footer .column .item+.item{
    margin-top: 12px;
}

.footer .copyright{
    margin-top: 28px;
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #807D74;
}